.header{
    width: 100%;
    display: flex;
    justify-content: left;
    padding-left: 20px;
    background-color: antiquewhite;
    font-size: 2vw;
    padding-bottom: 10px;
    margin-bottom: 50px;
    box-shadow: 0px 1px 5px black;
    color: white;
    z-index: 100;
    color: black;
    text-transform: uppercase;
}