.App-link {
  color: #61dafb;
}

h1 {
  text-align: left;
  margin-left: 20px;
}

button {
  margin-left: 20px;
}

btn-search {
  text-align: left;
}

.container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: right;
  gap: 15px;
  margin-left: 20px;
  flex-wrap: wrap;

}


.container-header {
  text-align: left;
  margin-left: 15px;
}

.movie-wrapper {
  align-items: end;
  width: 300x;
}

.h2 {
  margin-left: 10px;
}

.panel{
  margin-top: 20px;
  margin-left: 15px;
  width: 280px;
}

.btn{
  margin-top: 10px;
  width: 280px;
}

#tf{
  width: 250px;

}